@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

:root {
  --theme: #ffee02;
  /* --theme : #26a7de; */
  --foooter : black
}

@font-face {
  font-family: 'DessauProDrei';
  src: url('DessauProDrei.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#donate{
  font-family: 'DessauProDrei';
  font-size: 2rem;
}

logo-tag{
  display: flex;
  color: var(--color);
}
logo-tag img{
  width: 300px;
}

@media all and (max-width:650px){
  logo-tag img{
    width: 80%;
    padding: 0 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{

  background: var(--bg);
}


.divider {
  width: 100%;
  margin: 8vh auto;
  border-top: 2px dotted var(--color);
}
.seperator {
  height: 100%;
  border-right: 2px dotted var(--color);
}